In [185]:
# load data
import pandas as pd
train_data = pd.read_csv('data/adult.data')
train_data['data-type'] = 'train'

test_set_data = pd.read_csv('data/adult.test')
test_set_data['data-type'] = 'test'

# concat test and train sets
concat_df = pd.concat([test_set_data,train_data])

In [187]:
# hot code encoding for all data (train + test)
concat_df = pd.get_dummies(concat_df)

# seperate data sets 
train = concat_df[concat_df['data-type_train'] == 1]
test = concat_df[concat_df['data-type_test'] == 1]

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,classification_ <=50K,classification_ >50K,data-type_test,data-type_train
0,25,226802,7,0,0,40,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
1,38,89814,9,0,0,50,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
2,28,336951,12,0,0,40,0,0,1,0,...,0,0,0,1,0,0,0,1,1,0
3,44,160323,10,7688,0,40,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
4,18,103497,10,0,0,30,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0

In [205]:
# train set preprocess
rows, cols = train.shape
X = train.iloc[:, :cols-4]
y = train.iloc[:, -3:cols-2]
y.head(5)

    classification_ >50K
0                      0
1                      0
2                      0
3                      0
4                      0

In [207]:
import numpy as np
labels = np.array(y).reshape(-1)
data = np.array(X)
print(data.shape)
print(labels.shape)

(32561, 108)
(32561,)

In [208]:
### Hyper params
# n_estimators - Num of trees
# max_features - m << M

# train model
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10, criterion='entropy')
rf.fit(data, labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [210]:
pred = rf.predict(data)
np.savetxt('pred_for_train_set.txt', pred)

In [214]:
# train set preprocess
rows, cols = test.shape
X = train.iloc[:, :cols-4]
y = train.iloc[:, -3:cols-2]
y.head(5)
import numpy as np
labels = np.array(y).reshape(-1)
data = np.array(X)

In [215]:
pred = rf.predict(data)
np.savetxt('pred_for_test_set.txt', pred)