In [39]:
# load data
import pandas as pd
features = pd.read_csv('data/adult.data')
features.head(5)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [23]:
# data preprocess
features = pd.get_dummies(features)
rows, cols = features.shape
X = features.iloc[:, :cols-1]
y = features.iloc[:, -1:cols]

In [31]:
import numpy as np
labels = np.array(y).reshape(-1)
data = np.array(X)
print(labels.shape)
print(data.shape)

(32560,)
(32560, 109)

In [32]:
### Hyper params
# n_estimators - Num of trees
# max_features - m << M

# train model
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10, criterion='entropy')
rf.fit(data, labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [40]:
pred = rf.predict(data)
print(pred)
np.savetxt('pred.txt', pred)

[0 0 0 ... 0 0 1]