In [104]:
# load data
import pandas as pd
features = pd.read_csv('data/adult.data')
features['label'] = 'train'

test_set = pd.read_csv('data/adult.test')
test_set['label'] = 'test'

# Concat
concat_df = pd.concat([features , test_set])

# Create your dummies
features_df = pd.get_dummies(concat_df)

# Split your data
print(concat_df.head(5))
print(features.head(5))
#train_df = features_df[features_df['label'] == 'train']
#score_df = features_df[features_df['label'] == 'test']

    0   0.1  11th    13   2174   226802   40   7     77516   <=50K  ...    \
0   0   NaN   NaN  13.0    0.0      NaN   13 NaN   83311.0   <=50K  ...
1   0   NaN   NaN   9.0    0.0      NaN   40 NaN  215646.0   <=50K  ...
2   0   NaN   NaN   7.0    0.0      NaN   40 NaN  234721.0   <=50K  ...
3   0   NaN   NaN  13.0    0.0      NaN   40 NaN  338409.0   <=50K  ...
4   0   NaN   NaN  14.0    0.0      NaN   40 NaN  284582.0   <=50K  ...

         Never-married   Not-in-family  Own-child  Private          State-gov  \
0   Married-civ-spouse         Husband        NaN      NaN   Self-emp-not-inc
1             Divorced   Not-in-family        NaN      NaN            Private
2   Married-civ-spouse         Husband        NaN      NaN            Private
3   Married-civ-spouse            Wife        NaN      NaN            Private
4   Married-civ-spouse            Wife        NaN      NaN            Private

    United-States   White  25    39  label
0   United-States   White NaN  50.0  train
1   United-States   White NaN  38.0  train
2   United-States   Black NaN  53.0  train
3            Cuba   Black NaN  28.0  train
4   United-States   White NaN  37.0  train

[5 rows x 25 columns]
   39          State-gov   77516   Bachelors   13        Never-married  \
0  50   Self-emp-not-inc   83311   Bachelors   13   Married-civ-spouse
1  38            Private  215646     HS-grad    9             Divorced
2  53            Private  234721        11th    7   Married-civ-spouse
3  28            Private  338409   Bachelors   13   Married-civ-spouse
4  37            Private  284582     Masters   14   Married-civ-spouse

         Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0     Exec-managerial         Husband   White     Male      0   0   13
1   Handlers-cleaners   Not-in-family   White     Male      0   0   40
2   Handlers-cleaners         Husband   Black     Male      0   0   40
3      Prof-specialty            Wife   Black   Female      0   0   40
4     Exec-managerial            Wife   White   Female      0   0   40

    United-States   <=50K  label
0   United-States   <=50K  train
1   United-States   <=50K  train
2   United-States   <=50K  train
3            Cuba   <=50K  train
4   United-States   <=50K  train

/Users/tyitzhak/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [59]:
# data preprocess
features = pd.get_dummies(features)
rows, cols = features.shape
X = features.iloc[:, :cols-1]
y = features.iloc[:, -1:cols]

In [60]:
import numpy as np
labels = np.array(y).reshape(-1)
data = np.array(X)
print(labels.shape)
print(data.shape)

(32560,)
(32560, 109)

In [61]:
### Hyper params
# n_estimators - Num of trees
# max_features - m << M

# train model
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10, criterion='entropy')
rf.fit(data, labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [62]:
pred = rf.predict(data)

In [70]:
### predict test set
test_set = pd.read_csv('data/adult.test')

In [71]:
test_set.head(5)

,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.1,40,United-States,<=50K
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [85]:
test_set = pd.get_dummies(test_set)

In [86]:
test_rows, test_cols = test_set.shape

In [87]:

X_test = test_set.iloc[:, :test_cols-1]
y_test = test_set.iloc[:, -1:test_cols]
X_test.head(5)

,25,226802,7,0,0.1,40,Private_ ?,Private_ Federal-gov,Private_ Local-gov,Private_ Never-worked,...,United-States_ Puerto-Rico,United-States_ Scotland,United-States_ South,United-States_ Taiwan,United-States_ Thailand,United-States_ Trinadad&Tobago,United-States_ United-States,United-States_ Vietnam,United-States_ Yugoslavia,<=50K_ <=50K
0,38,89814,9,0,0,50,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,28,336951,12,0,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,44,160323,10,7688,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,18,103497,10,0,0,30,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,34,198693,6,0,0,30,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [78]:
test_labels = np.array(y_test).reshape(-1)

In [81]:
test_data = np.array(X_test)
X_test.head(5)

,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.1,40,United-States
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States

In [82]:
print(test_data.shape)

(16280, 14)

In [57]:
pred = rf.predict(test_data)

ValueError: Number of features of the model must match the input. Model n_features is 109 and input n_features is 108

In [36]:
print(pred)
np.savetxt('pred.txt', pred)

ValueError: Number of features of the model must match the input. Model n_features is 109 and input n_features is 108